{% from "macros.html" import favicon, bootstrap %}
<!DOCTYPE html>
<html>

<head>
  {{ favicon() }}
  {{ bootstrap() }}
  <style>
    html,
    body {
      height: 100%;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('admin.list') }}">Superadmin Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('admin.maps') }}">Maps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('admin.list') }}">List of Voters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('admin.admin') }}">Create a Register Link</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="col-xl-2 mx-auto pt-3 pb-0">
    <form action="" method="POST">



      <div class="text-center">
        <input type="submit" value="Create a Link" class="btn-default" />
      </div>

      {% if links %}
        {% for link in links%}
          <p>Link: <a href="{{ link }}"> {{ link }}</a></p>
        {% endfor %}
      {% endif %}

    </form>

  </div>

</body>

</html>
