{% extends "base.html" %}

{% block content %}

<div class="col-xl-6 col-l-6 mx-auto pt-3 px-5">
  <form action="" method="POST">
    <div class="input-group mb-3">
      <span class="input-group-text">Group Name</span>
      <select class="form-control" id="group" name="group">
        <option>Select a group</option>

        {% if current_user.is_admin() %}
          <option value="all_voters">ALL VOTERS</option>
        {% endif %}

        {% for group in groups %}
        <option>{{ group }}</option>
        {% endfor %}
      </select>
    </div>

    <label for="">Date Range</label>
    <div class="input-group mb-3">
      <span class="input-group-text">First Date</span>
      <input class="form-control" type="date" value="2019-01-01" id="date_first" name="date_first">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Second Date</span>
      <input class="form-control" type="date" value="2020-08-31" id="date_second" name="date_second">
    </div>
    <small>Click on the calendar icons to select dates.</small>

    <!-- Set second date range to today. -->
    <script type="text/javascript">
      document.getElementById('date_second').valueAsDate = new Date();
    </script>

    <div class="text-center">
      <input type="submit" value="Submit" class="btn-default" />
    </div>

    </form>
</div>

{% endblock %}
