{% from "macros.html" import favicon %}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <style>
    html,
    body {
      height: 100%;
    }
  </style>
  <title>eAbsentee</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/list/">Admin Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/maps/">Maps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/list/">List of Voters</a>
        </li>
      </ul>
    </div>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/logout/">Logout</a>
      </li>
    </ul>
  </nav>


  <div class="col-xl-6 col-l-6 mx-auto pt-3 pb-0">
    <form action="" method="POST">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Group Name</span>
        </div>
        <select class="form-control" id="group" name="group">
          <option>Select a group</option>
          {% for group in groups %}
          <option>{{ group }}</option>
          {% endfor %}
        </select>
      </div>

      {% if current_user.is_admin() %}
        <input type="checkbox" id="all_group" name="all_group">
        <label for="checkbox">Check this box to download information for all group codes, rather than one at a time.</label>

      {% endif %}

      </br>
      <label for="">Date Range</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">First Date</span>
        </div>
        <input class="form-control" type="date" value="2019-01-01" id="date_first" name="date_first">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Second Date</span>
        </div>
        <input class="form-control" type="date" value="2020-08-31" id="date_second" name="date_second">
      </div>
      <small>Click on the calendar icons to select dates.</small>

      <!-- Set second date range to today. -->
      <script type="text/javascript">
        document.getElementById('date_second').valueAsDate = new Date();
      </script>

      <div class="text-center">
        <input type="submit" value="Submit" class="btn-default" />
      </div>

      </form>
  </div>


  </div>

</body>

</html>
