{% from "macros.html" import favicon %}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
</head>

<body>
  <div class="col-xl-2 mx-auto pt-3 pb-0">
    <form action="" method="POST">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Group Name</span>
        </div>
        <select class="form-control" id="group" name="group">
          {% for group in groups %}
            <option>{{ group }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Date</span>
        </div>
          <input class="form-control" type="date" value="2020-08-31" id="date" name="date">
          <small>Click on the calendar icon to select a date.</small>
        </div>
      </div>

      <div class="text-center">
        <input type="submit" value="Submit" class="btn-default" />
      </div>

    </form>

  </div>


  {% if users %}
    <div class="col-xl-6 mx-auto pt-5">
      <div id="map" style="height: 500px;"> </div>
    </div>



    <script type="text/javascript">
      var mymap = L.map('map').setView([38.4316, -77.6569], 8);

      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: '{{ mapbox_key }}'
      }).addTo(mymap);

      var googleIcon = L.icon({
        iconUrl: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
        shadowUrl: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',

        iconSize: [20, 20], // size of the icon
        shadowSize: [0, 0], // size of the shadow
        iconAnchor: [10, 20], // point of the icon which will correspond to marker's location
        shadowAnchor: [0, 0], // the same for the shadow
        popupAnchor: [0, -20] // point from which the popup should open relative to the iconAnchor
      });

      {% for user in users %}
        var marker = L.marker(["{{ user['lat'] }}", "{{ user['lng'] }}"], {
          icon: googleIcon
        }).bindPopup("<b>{{ user['name'] }}</b><br>I am a popup.").addTo(mymap);
      {% endfor %}
    </script>
  {% endif %}

</body>

</html>
