{% extends "base.html" %}

{% block content %}
<div class="text-center px-5 mt-3">
  <h3>Register</h3>
  <div class="mx-auto col-lg-6">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="list-unstyled">
        {% for category, message in messages %}
          <li class="alert alert-{{ category }}" role="alert">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form action="" method="POST" class="needs-validation" novalidate>
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
        <input
          type="email"
					autocomplete="email"
          name="email"
          class="form-control"
          value=""
          placeholder="Email"
					required
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="fas fa-key"></i></span>
        <input
          type="password"
					autocomplete="new-password"
          name="password"
          class="form-control"
          value=""
          placeholder="Password"
					required
        />
      </div>
      <!-- TODO: confirm password -->
			<button class="btn btn-primary" type="submit">Register</button>
    </form>
  </div>
</div>
{% endblock %}
