[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
yagmail = "*"
pdfrw = "*"
xlwt = "*"
openpyxl = "*"
typing = "*"
datetime = "*"
apiclient = "*"
httplib2 = "*"
oauth2client = "*"


[requires]
python_version = "3.7"
