[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
yagmail = "*"
pdfrw = "*"
xlwt = "*"
openpyxl = "*"
typing = "*"
datetime = "*"
httplib2 = "*"
oauth2client = "*"
google-api-python-client = "*"
pypdf2 = "*"
reportlab = "*"

[requires]
python_version = "3.7"

[scripts]
passh = "ssh eabsenteeproject@ssh.pythonanywhere.com"
