{% extends "base.html" %}

{% block content %}
<h1 class="text-center mt-5">About eAbsentee and Vote Absentee Virginia</h1>
<div class="container">
  <p>
    &emsp;eAbsentee was created to allow voters to apply for an absentee ballot with ease. eAbsentee is sponsored by Vote Absentee Virginia, a not-for-profit organization based in Falls Church, VA. Vote Absentee Virginia was formed to
    help
    broaden voter access across all parties in Virginia. It does not generate revenue from this site; its only source of revenue is civic-minded donors who believe that mailed-out ballots help increase voter participation in our democracy.
  </p>

  <div class="row text-center d-flex justify-content-around">
    <div class="col-xl-5 col-l4 col-m12 col-sm12 col-xs12 mb-5">
      <div class="bg-light rounded shadow-sm py-5 px-4"><img src="{{ url_for('static', filename='img/larry-headshot.jpg') }}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
        <h5 class="mb-0">Larry Rouvelas</h5>
        <span class="small">Chair and President</span>
        </br>
        <span class="small text-muted">Larry grew up in Virginia and lives in Falls Church, VA. He founded Vote Absentee Virginia to make it easier to vote at home. His past civic volunteer activities include serving as President of Tuckahoe Recreation Club and Board Member of the Arlington Long Term Care Residences Commission. He works in senior housing.
        </span>
        <ul class="social mb-0 list-inline mt-3">
          <li class="list-inline-item"><a href="mailto:larry@eabsentee.org" class="social-link"><i class="fa fa-envelope"></i></a></li>
          <li class="list-inline-item"><a href="https://www.linkedin.com/in/larry-rouvelas-99146460/" target="_blank" rel="noopener" class="social-link"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="col-xl-5 col-l4 col-m12 col-sm12 col-xs12 mb-5">
      <div class="bg-light rounded shadow-sm py-5 px-4"><img src="{{ url_for('static', filename='img/sumanth-headshot.jpg') }}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
        <h5 class="mb-0">Brian Zhou</h5>
        <span class="small">Director of Technology</span> </br>
        <span class="small text-justify text-muted">Brian is a senior at Thomas Jefferson High School for Science and Technology. He leads the technical development of eAbsentee, while also contributing to the team's outreach and policy efforts to increase voter turnout. Besides civic technology, he likes to work on machine learning and redistricting.</span>
        <ul class="social mb-0 list-inline mt-3">
          <li class="list-inline-item"><a href="mailto:brian@eabsentee.org" class="social-link"><i class="fa fa-envelope"></i></a></li>
          <li class="list-inline-item"><a href="https://www.linkedin.com/in/brianlzhou/" target="_blank" rel="noopener" class="social-link"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="col-xl-5 col-l4 col-m12 col-sm12 col-xs12 mb-5">
      <div class="bg-light rounded shadow-sm py-5 px-4"><img src="{{ url_for('static', filename='img/james-headshot.jpg') }}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
        <h5 class="mb-0">James Greene</h5>
        <span class="small">Director of Outreach</span> <br />
        <span class="small text-muted">James is a junior at Thomas Jefferson High School for Science and Technology. He works to spread awareness of eAbsentee in the hopes of increasing voter turnout. In his free time he enjoys computer programming, playing volleyball, and strumming guitar.</span>
        <ul class="social mb-0 list-inline mt-3">
          <li class="list-inline-item"><a href="mailto:james@eabsentee.org" class="social-link"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="col-xl-5 col-l4 col-m12 col-sm12 col-xs12 mb-5">
      <div class="bg-light rounded shadow-sm py-5 px-4"><img src="{{ url_for('static', filename='img/robert-headshot.jpg') }}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
        <h5 class="mb-0">Robert Greene</h5>
        <span class="small">Former Director of Outreach</span> <br />
        <span class="small text-muted">Robert is a sophomore at Harvard University. He previously worked on Sen. Amy Klobuchar's presidential campaign, and is passionate about improving voting accessibility. A lifelong Virginia resident, he enjoys politics and improving his community. In his free time, he plays piano, practices martial arts, and cooks.</span>
        <ul class="social mb-0 list-inline mt-3">
          <li class="list-inline-item"><a href="mailto:robert@eabsentee.org" class="social-link"><i class="fa fa-envelope"></i></a></li>
          <li class="list-inline-item"><a href="https://www.linkedin.com/in/robert-greene-83690318a/" target="_blank" rel="noopener" class="social-link"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xl-5 col-l4 col-m12 col-sm12 col-xs12 mb-5">
    <div class="bg-light rounded shadow-sm py-5 px-4"><img src="{{ url_for('static', filename='img/sumanth-headshot.jpg') }}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
      <h5 class="mb-0">Sumanth Ratna</h5>
      <span class="small">Former Director of Technology</span> </br>
      <span class="small text-justify text-muted">Sumanth is a senior at Thomas Jefferson High School for Science and Technology. He leads the technical development of eAbsentee, while also contributing to the team's outreach and policy efforts to increase voter turnout. Besides civic technology, he likes to work on machine learning and computational biology.</span>
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item"><a href="mailto:sumanth@eabsentee.org" class="social-link"><i class="fa fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/sumanthratna/" target="_blank" rel="noopener" class="social-link"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>


  <p>
    &emsp;On May 13, 2015, the Virginia State Board of Elections approved Republican Speaker Bill Howell's request to authorize the acceptance of electronically-signed absentee ballot applications. His primary challenger sued the State Board of Elections and was rejected by the Stafford County Circuit Court before the June primary date. On July 1, 2015, Innovate Virginia PAC made an electronic ballot application available to all Virginians. The Republican Party of Virginia posted their own portal later in the summer and later that Fall, the Virginia Department of Elections posted an official portal on the state website. Over the last four years, several different organizations created their own portals, including Vote Absentee Virginia.
  </p>

  <h2 class="text-center">Testimonials</h2>

  <div class="row text-center justify-content-center">
    <div class="col-xl-6 col-l-6 col-m-12 col-sm-12 col-xs-12 mb-5">
      <div class="bg-light rounded shadow-sm py-5 px-4"><img src="{{ url_for('static', filename='img/aneeshchopra-headshot.png') }}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
        <h5 class="mb-0">Aneesh Chopra</h5>
        <span class="small font-weight-bold">Chief Technology Officer of the United States (2009-2012)</span> </br>
        <span class="small font-weight-bold">Virginia Secretary of Technology (2006-2009)</span>
        </br>
        <div class="text-left">
          <span class="small">&emsp;"We launched a proof of concept eAbsentee tool in 2015 to test a hypothesis that grassroots organizers can help traditionally disenfranchised communities to vote by lowering burdens. I’m proud of the great work my friends at Vote Absentee Virginia have done to turn our shared vision of enfranchising more voters across the Commonwealth into reality.”
          </span>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-l-6 col-m-12 col-sm-12 col-xs-12 mb-5">
      <div class="bg-light rounded shadow-sm py-5 px-4"><img src="{{ url_for('static', filename='img/surovell-headshot.jpg') }}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
        <h5 class="mb-0">Scott Surovell</h5>
        <span class="small font-weight-bold">Virginia State Senator (D-36)</span> <br />
        <span class="small font-weight-bold">Attorney at Surovell Isaacs & Levy PLC</span>
        <div class="text-left">
          <span class="small">&emsp;"eAbsentee is part of the fight to put a ballot into every voter's hand. After my colleagues and I started eAbsentee in 2015, I asked my friends at the non-profit Vote Absentee Virginia to take eAbsentee to another level. They did. It has helped thousands of Virginia voters apply easily for absentee ballots and has helped dozens of get-out-the-vote organizations to mobilize voters."</span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
