{% from "macros.html" import favicon %}
<!DOCTYPE HTML>
<html>

<head>
  <title>About</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />

  {{ favicon() }}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <header id="header">
    <a class="logo" href="/"><img width="32" height="32" src="{{ url_for('static', filename='img/eabsentee.svg/') }}"></img> eAbsentee</a>
    <nav>
      <a href="/form/">Apply</a>
      <a href="/about/">About Us</a>
    </nav>
  </header>

  <div class="inner">
    <div class="bg-white py-5">
      <div class="text-center">
        <br />
        <h1>About eAbsentee</h1>
      </div>
      <div class="container py-5">

        <p>
          &emsp;eAbsentee was created to allow voters to apply for an absentee ballot with ease. eAbsentee is sponsored by Vote Absentee Virginia, a not-for-profit 501(c)4 organization based in Falls Church, VA. Vote Absentee Virginia was formed to
          help
          broaden voter access across all parties in Virginia. It does not generate revenue from this site; its only source of revenue is civic-minded donors who believe that mailed-out ballots help increase voter participation in our democracy.
        </p>

        <br>
        <div class="row text-center">
          <div class="col-xl-4 col-l4 col-m12 col-sm12 col-xs12 mb-5">
            <div class="bg-light rounded shadow-sm py-5 px-4"><img src="../../static/img/larry-headshot.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Larry Rouvelas</h5>
              <span class="small">Chair and President</span>
              </br>
              <span class="small text-muted">Larry grew up in Virginia and lives in Falls Church, VA. He founded Vote Absentee Virginia to make it easier to vote at home. His past civic volunteer activities include serving as President of Tuckahoe Recreation Club and Board Member of the Arlington Long Term Care Residences Commission. He works in senior housing.
              </span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a href="mailto:larry@eabsentee.org" class="social-link"><i class="fa fa-envelope"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/larry-rouvelas-99146460/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>

          <div class="col-xl-4 col-l4 col-m12 col-sm12 col-xs12 mb-5">
            <div class="bg-light rounded shadow-sm py-5 px-4"><img src="../../static/img/robert-headshot.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Robert Greene</h5>
              <span class="small">Director of Outreach</span> <br />
              <span class="small text-muted">Robert is a freshman at Harvard University. He previously worked on Sen. Amy Klobuchar's presidential campaign, and is passionate about improving voting accessibility. A lifelong Virginia resident, he enjoys politics and improving his community. In his free time, he plays piano, practices martial arts, and cooks.</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a href="mailto:robert@eabsentee.org" class="social-link"><i class="fa fa-envelope"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/robert-greene-83690318a/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>

          <div class="col-xl-4 col-l4 col-m12 col-sm12 col-xs12 mb-5">
            <div class="bg-light rounded shadow-sm py-5 px-4"><img src="../../static/img/raunak-headshot.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Raunak Daga</h5>
              <span class="small">Director of Technology</span> </br>
              <span class="small text-justify text-muted">Raunak is a senior at Thomas Jefferson High School for Science and Technology. He works on the technical side of eAbsentee, helping groups understand voter trends and visualize data. In past summers, he's interned at George Mason University. He enjoys listening to Mac Miller, playing basketball, and reading in his free time.</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a href="mailto:raunak@eabsentee.org" class="social-link"><i class="fa fa-envelope"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/raunakdaga/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <p>
          &emsp;On May 13, 2015, the Virginia State Board of Elections approved Republican Speaker Bill Howell's request to authorize the acceptance of electronically-signed absentee ballot applications. His primary challenger sued the State Board of
          Elections and was rejected by the Stafford County Circuit Court before the June primary date. On July 1, 2015, Innovate Virginia PAC made an electronic ballot application available to all Virginians. The Republican Party of Virginia posted
          their own portal later in the summer and later that Fall, the Virginia Department of Elections posted an official portal on the state website. Over the last four years, several different organizations created their own portals, including
          Vote Absentee Virginia.
        </p>
      </div>
    </div>
  </div>

  <footer id="footer" style="background: black">
    <div class="mx-auto text-center">
      <small style="color:white;">eAbsentee is sponsored by Vote Absentee Virginia, a not-for-profit, non-partisan 501(c)4 organization established to help broaden voter access across all parties in Virginia.</small>
      </br>
      </br>
      <a href="mailto:applications@eabsentee.org">
        <i class="fa fa-envelope fa-2x"></i>
      </a>
      &nbsp;
      <a href="https://www.facebook.com/voteabsenteeva">
        <i class="fa fa-facebook-square fa-2x"></i>
      </a>
      <br />
    </div>
  </footer>

  <!-- Scripts -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/util.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
