{% extends "base.html" %}

{% block content %}
<section id="banner">
  <div class="inner">
        <p>This project is an open-source tool designed to encourage absentee ballot applications
              in the hopes of increasing voter registrarion. We'd like to thank <a href="https://templated.co/">TEMPLATED</a>
              for the INDUSTRIOUS template from which the website was designed.</p>
        <p>We used various images for our video presentation on how to use eAbsentee. They are credited <a href="/videocredits/"> here.</a></p>
        <p> This website was created by<a href="https://raunakdaga.me"> Raunak Daga </a>and <a href="https://github.com/sumanthratna"> Sumanth Ratna</a>. </p>
  </div>
</section>
{% endblock %}
