{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-social.min.css') }}" />
{% endblock %}

{% block content %}
<section id="banner" class="px-3">
	<div class="inner">
		<h1>{{ gettext("Application Confirmed") }}</h1>
		<p>{{ gettext("Thank you for applying for an absentee ballot! No further action is required on your part. An absentee ballot will be sent via mail to your residence soon.") }}
		</p>
		<p>
			{{ gettext("To check on the status of your application, visit") }} <a href="https://vote.elections.virginia.gov/VoterInformation/Lookup/status"><u>{{ gettext("the state elections website") }}</u></a>.
		</p>
		<div class="d-grid gap-2" style="max-width:250px; margin:auto">
			<a class="btn btn-social btn-twitter" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.eabsentee.org&text=I&lsquo;m%20voting%20from%20home%20this%20November%3A%20I%20just%20applied%20online%20to%20receive%20a%20Virginia%20absentee%20ballot%20at">
				<span class="fa fa-twitter"></span> {{ gettext("Share on Twitter") }}
			</a>

			<a class="btn btn-social btn-facebook" href="https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&sdk=joey&u=https%3A%2F%2Fwww.eabsentee.org%2F&display=popup&ref=plugin&src=share_button">
				<span class="fa fa-facebook"></span> {{ gettext("Share on Facebook") }}
			</a>
		</div>
	</div>
</section>
{% endblock %}
