.us-autocomplete-pro-example {
  font-family: helvetica;
  color: #0a0a0a;
}

.us-autocomplete-pro-example .container {
  background-color: #ddd;
  padding: 2em;
}

.us-autocomplete-pro-example .container label {
  color: #0a0a0a;
}

.us-autocomplete-pro-example .container input {
  border: 1px solid #ccc;
  color: #0a0a0a;
  height: 3em;
  width: 100%;
}

.us-autocomplete-pro-example .container .us-autocomplete-pro-input-container {
  margin: 0 auto 2em;
  width: 40em;
}

.us-autocomplete-pro-example .container .us-autocomplete-pro-menu {
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.12);
  color: #7d7d7d;
  position: absolute;
  text-align: left;
  width: inherit;
  z-index: 10;
}

.us-autocomplete-pro-example .container .us-autocomplete-pro-menu b {
  color: #0a0a0a;
}

.us-autocomplete-pro-example .container .us-autocomplete-pro-menu .ui-menu-item-wrapper {
  padding-left: 1em;
}
