<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
  <title>eAbsentee Ballot Voting System</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<body class="is-preload">

  <!-- Header -->
  <header id="header">
    <a class="logo" href="/">eAbsentee Voting</a>
    <nav>
      <a href="#menu">Menu</a>
    </nav>
  </header>

  <!-- Nav -->
  <nav id="menu">
    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="/form">Register</a></li>
    </ul>
  </nav>

  <!-- Banner -->
  <section id="banner">
    <div class="inner">
      <h1>Error 404</h1>
      <p>Page not found.</p>
      Go <a href="/">home</a>.
    </div>
  </section>

  <!-- Footer -->
  <footer id="footer">
    <div class="copyright">
      <a> Contact us at eAbsentee@gmail.com </a>
    </div>
    </div>
  </footer>
  <!-- Scripts -->

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='js/util.min.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
