<!DOCTYPE HTML>
<html>

<head>
      <title>About</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <meta name="description" content="" />
      <meta name="keywords" content="" />

      <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<body class="is-preload">

      <!-- Header -->
      <header id="header">
            <a class="logo" href="/">eAbsentee Voting</a>
            <nav>
                  <a href="#menu">Menu</a>
            </nav>
      </header>

      <!-- Nav -->
      <nav id="menu">
            <ul class="links">
                  <li><a href="/">Home</a></li>
                  <li><a href="/form">Register</a></li>
                  <li><a href="/about">About</a></li>
            </ul>
      </nav>

      <!-- Banner -->
      <section id="banner">
            <div class="inner">
                  <h1> About Us </h1>
                  <p>This website is sponsored by Vote Absentee Virginia, a not-for-profit 501(c)4 organization based in
                        Falls Church VA. It was formed to help broaden voter access across all parties in Virginia. It does
                        not generate revenue from this site; its only source of revenue are civic-minded donors who
                        believe that mailed-out ballots help increase voter participation in our democracy.</p>

            </div>
      </section>

      <!-- Footer -->
      <footer id="footer">
            <div class="copyright">
                  <a> Contact us at <a href="mailto:contact@eabsentee.org">contact@eabsentee.org</a> | Paid for and authorized by Vote Absentee Virginia </a>
            </div>
            </div>
      </footer>
      <!-- Scripts -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/util.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>