<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!-->
<html>
<!--<![endif]-->

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>API</title>
</head>

<body>
      <h1>{{confirmation}}</h1>
      <form method="POST" action="">
            <p>Please enter your unique API key:</p>
            API Key: <input type="text" id="key" name="key"><br>

            <p>Please enter the actual name of the campaign. </p>
            Campaign Name: <input type="text" id="campaign_name" name="campaign_name"><br>

            <p>Please enter the name you wish to assign the campaign code (not the actual name of the campaign.) </p>
            Campaign Code: <input type="text" id="campaign_code" name="campaign"><br>


            <p>Pick all the counties which are being campaigned in. Hold down the Ctrl (windows) / Command (Mac) button to select multiple options. <br>
                  If you are unsure if this is working, please contact raunakdaga@gmail.com and let me know.</p>
            <select multiple name="counties" id="counties" size=30>
                  <option value="" selected>Choose your residence&hellip;</option>
                  <option value="001">Accomack County</option>
                  <option value="003">Albemarle County</option>
                  <option value="510">Alexandria City</option>
                  <option value="005">Alleghany County</option>
                  <option value="007">Amelia County</option>
                  <option value="009">Amherst County</option>
                  <option value="011">Appomattox County</option>
                  <option value="013">Arlington County</option>
                  <option value="015">Augusta County</option>
                  <option value="017">Bath County</option>
                  <option value="019">Bedford County</option>
                  <option value="021">Bland County</option>
                  <option value="023">Botetourt County</option>
                  <option value="520">Bristol City</option>
                  <option value="025">Brunswick County</option>
                  <option value="027">Buchanan County</option>
                  <option value="029">Buckingham County</option>
                  <option value="530">Buena Vista City</option>
                  <option value="031">Campbell County</option>
                  <option value="033">Caroline County</option>
                  <option value="035">Carroll County</option>
                  <option value="036">Charles City County</option>
                  <option value="037">Charlotte County</option>
                  <option value="540">Charlottesville City</option>
                  <option value="550">Chesapeake City</option>
                  <option value="041">Chesterfield County</option>
                  <option value="053">Clarke County</option>
                  <option value="570">Colonial Heights City</option>
                  <option value="580">Covington City</option>
                  <option value="045">Craig County</option>
                  <option value="047">Culpeper County</option>
                  <option value="049">Cumberland County</option>
                  <option value="590">Danville City</option>
                  <option value="051">Dickenson County</option>
                  <option value="990">Dinwiddie County</option>
                  <option value="595">Emporia City</option>
                  <option value="057">Essex County</option>
                  <option value="600">Fairfax City</option>
                  <option value="059">Fairfax County</option>
                  <option value="610">Falls Church City</option>
                  <option value="061">Fauquier County</option>
                  <option value="063">Floyd County</option>
                  <option value="065">Fluvanna County</option>
                  <option value="620">Franklin City</option>
                  <option value="067">Franklin County</option>
                  <option value="069">Frederick County</option>
                  <option value="630">Fredericksburg City</option>
                  <option value="640">Galax City</option>
                  <option value="071">Giles County</option>
                  <option value="073">Gloucester County</option>
                  <option value="075">Goochland County</option>
                  <option value="077">Grayson County</option>
                  <option value="079">Greene County</option>
                  <option value="081">Greensville County</option>
                  <option value="083">Halifax County</option>
                  <option value="650">Hampton City</option>
                  <option value="085">Hanover County</option>
                  <option value="660">Harrisonburg City</option>
                  <option value="087">Henrico County</option>
                  <option value="089">Henry County</option>
                  <option value="091">Highland County</option>
                  <option value="670">Hopewell City</option>
                  <option value="093">Isle Of Wight County</option>
                  <option value="095">James City County</option>
                  <option value="097">King &amp; Queen County</option>
                  <option value="099">King George County</option>
                  <option value="101">King William County</option>
                  <option value="103">Lancaster County</option>
                  <option value="105">Lee County</option>
                  <option value="678">Lexington City</option>
                  <option value="107">Loudoun County</option>
                  <option value="109">Louisa County</option>
                  <option value="111">Lunenburg County</option>
                  <option value="680">Lynchburg City</option>
                  <option value="113">Madison County</option>
                  <option value="683">Manassas City</option>
                  <option value="685">Manassas Park City</option>
                  <option value="690">Martinsville City</option>
                  <option value="115">Mathews County</option>
                  <option value="117">Mecklenburg County</option>
                  <option value="119">Middlesex County</option>
                  <option value="121">Montgomery County</option>
                  <option value="125">Nelson County</option>
                  <option value="127">New Kent County</option>
                  <option value="700">Newport News City</option>
                  <option value="710">Norfolk City</option>
                  <option value="131">Northampton County</option>
                  <option value="133">Northumberland County</option>
                  <option value="720">Norton City</option>
                  <option value="135">Nottoway County</option>
                  <option value="137">Orange County</option>
                  <option value="139">Page County</option>
                  <option value="141">Patrick County</option>
                  <option value="730">Petersburg City</option>
                  <option value="143">Pittsylvania County</option>
                  <option value="735">Poquoson City</option>
                  <option value="740">Portsmouth City</option>
                  <option value="145">Powhatan County</option>
                  <option value="147">Prince Edward County</option>
                  <option value="149">Prince George County</option>
                  <option value="153">Prince William County</option>
                  <option value="155">Pulaski County</option>
                  <option value="750">Radford City</option>
                  <option value="157">Rappahannock County</option>
                  <option value="760">Richmond City</option>
                  <option value="159">Richmond County</option>
                  <option value="770">Roanoke City</option>
                  <option value="161">Roanoke County</option>
                  <option value="163">Rockbridge County</option>
                  <option value="165">Rockingham County</option>
                  <option value="167">Russell County</option>
                  <option value="775">Salem City</option>
                  <option value="169">Scott County</option>
                  <option value="171">Shenandoah County</option>
                  <option value="173">Smyth County</option>
                  <option value="175">Southampton County</option>
                  <option value="177">Spotsylvania County</option>
                  <option value="179">Stafford County</option>
                  <option value="790">Staunton City</option>
                  <option value="800">Suffolk City</option>
                  <option value="181">Surry County</option>
                  <option value="183">Sussex County</option>
                  <option value="185">Tazewell County</option>
                  <option value="810">Virginia Beach City</option>
                  <option value="187">Warren County</option>
                  <option value="191">Washington County</option>
                  <option value="820">Waynesboro City</option>
                  <option value="193">Westmoreland County</option>
                  <option value="830">Williamsburg City</option>
                  <option value="840">Winchester City</option>
                  <option value="195">Wise County</option>
                  <option value="197">Wythe County</option>
                  <option value="199">York County</option>
            </select> <br> <br>
            <input type="submit" value="Submit">
      </form>
</body>

</html>