<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Test</title>
    <style type="text/css" media="screen">
     * {
       margin: 0;
       padding: 0;
     }

     div#banner {
       position: absolute;
       top: 0;
       left: 0;
       background-color: #DDEEEE;
       width: 100%;
     }
     div#banner-content {
       width: 800px;
       margin: 0 auto;
       padding: 10px;
       border: 1px solid #000;
     }
     div#main-content {
       padding-top: 70px;
    }
    </style>
</head>

<body>
  <div id="banner">
    <div id="banner-content">
    This is your banner text, centered and fixed at 800px in width
    </div>
  </div>
  <div id="main-content">
    <p>Main page content goes here</p>
  </div>
</body>
</html>
