{% from "macros.html" import favicon %}
<!DOCTYPE HTML>
<html>

<head>
      <title>eAbsentee</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <meta name="description" content="" />
      <meta name="keywords" content="" />

      {{ favicon() }}

      <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147192988-1"></script>
      <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                  dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-147192988-1');
      </script>

      <!-- Facebook Pixel Code -->
      <script>
            ! function(f, b, e, v, n, t, s) {
                  if (f.fbq) return;
                  n = f.fbq = function() {
                        n.callMethod ?
                              n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                  };
                  if (!f._fbq) f._fbq = n;
                  n.push = n;
                  n.loaded = !0;
                  n.version = '2.0';
                  n.queue = [];
                  t = b.createElement(e);
                  t.async = !0;
                  t.src = v;
                  s = b.getElementsByTagName(e)[0];
                  s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                  'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '548028756026350');
            fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=548028756026350&ev=PageView&noscript=1" /></noscript>
      <!-- End Facebook Pixel Code -->
</head>

<body class="is-preload">

      <!-- Header -->
      <header id="header">
            <a class="logo" href="/">eAbsentee Voting</a>
            <nav>
                  <a href="#menu">Menu</a>
            </nav>
      </header>

      <!-- Nav -->
      <nav id="menu">
            <ul class="links">
                  <li><a href="/">Home</a></li>
                  <li><a href="/form">Apply</a></li>
                  <li><a href="/about">About</a></li>
            </ul>
      </nav>

      <!-- Banner -->
      <section id="banner">
            <div class="inner">
                  <h1> Application Confirmed </h1>
                  <p>Thank you for applying for an absentee ballot, {{session['name']}}! Your absentee ballot application has been emailed to the {{ session['registrar_locality'] }} registrar at <a
                              href="mailto:{{ session['registrar_email'] }}">{{ session['registrar_email'] }}</a>. No further action is required on your part.</p>
                  <p>You can download your application file <a href="../{{ session['output_file'] }}"><u>by clicking here</u></a>.</p>
                  <a href="/"><u>Home Page</u></a>.
            </div>
      </section>

      <!-- Footer -->
      <footer id="footer">
            <div class="copyright">
                  <p style="color:white;"> Contact us at <a href="mailto:contact@eabsentee.org">contact@eabsentee.org</a> | Paid for and authorized by Vote Absentee Virginia </p>
            </div>
            </div>
      </footer>
      <!-- Scripts -->

      <!-- Scripts -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/util.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
