<!DOCTYPE html>

<html>

<head>
      <title>Confirmation</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <meta name="description" content="" />
      <meta name="keywords" content="" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<body>
      <p>This project is an open-source tool designed to encourage absentee ballot applications
            in the hopes of increasing voter registrarion. We'd like to thank <a href="https://templated.co/">TEMPLATED</a>
            for the INDUSTRIOUS template from which the website was designed.</p>




</body>

</html>