{% from "macros.html" import favicon %}
<!DOCTYPE HTML>
<html>

<head>
  {{ favicon() }}
  <title>eAbsentee</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/newform.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tempforms.css') }}">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="{{ url_for('static', filename='js/functions_newform.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tempforms.js') }}"></script>




</head>

<body class="is-preload">
  <!-- Header -->
  <header id="header">
    <a class="logo" href="/">eAbsentee</a>
    <nav>
      <a href="#menu">Menu</a>
    </nav>
  </header>

  <!-- Nav -->
  <nav id="menu">
    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="/form">Apply</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>


  <div class="container col-lg-8 col-md-8 col-sm-12 col-xs-12 mx-auto">
    <div class="card form-group border-dark mx-auto my-2">
      <div class="card-body rounded-top card-body col-lg-12" style="background: #0052A5">
        <h3 class="text-capitalize text-center text-light"> Apply for an Absentee Ballot </h3>
        <h6 class="text-center text-light">Your absentee ballot will be mailed out in September/October.</h6>
      </div>

      <form action="" method="POST">
        <div class="card-body rounded-0 border-dark">
          <!-- Personal Information -->
          <div class="form-group row mx-auto">
            <div class="mx-auto col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h3 class="text-center text-capitalize">Personal Information</h3>
            </div>
            <div class="form-group mx-auto col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
              <label>First Name</label>
              <input type="text" class="form-control" id="name_first" name="name_first" required>
            </div>
            <div class="form-group mx-auto col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
              <label>Last Name</label>
              <input type="text" class="form-control" id="name_last" name="name_last" required>
            </div>
            <div class="form-group mx-auto col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
              <label>Middle Name</label>
              <input type="text" class="form-control" id="name_middle" name="name_middle">
            </div>
            <div class="form-group mx-auto col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
              <label>Suffix (i.e. Jr., Sr., II)</label>
              <input type="text" class="form-control" id="name_suffix" name="name_suffix">
            </div>
            <div class="form-group mx-auto col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
              <label>SSN (Last 4 Digits)</label>
              <input type="password" class="form-control" id="ssn" name="ssn" minlength="4" maxlength="4" pattern="^([0-9]{4})$" autocomplete="new-password" required digits>
              <small class="form-text text-muted"><a href="/#faq_ssn">Why?</a></small>
            </div>
          </div>
        </div>

        <!-- Registered to Vote Address -->
        <hr style="border-top: dotted 1px;" />
        <div class="card-body border-dark rounded-0">
          <div class="form-group row mx-auto">
            <div class="mx-auto col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h3 class="text-center text-capitalize">Where are you registered to vote?</h3>
            </div>
            <div class="form-group mx-auto col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center">
              <label>Address Autocomplete</label>
              <input type="text" class="form-control" id="us-autocomplete-pro-address-input" name="us-autocomplete-pro-address-input" autocomplete="new-password">
              <ul class="us-autocomplete-pro-menu" style="display:none; position:absolute; z-index:2;"></ul>
            </div>
            <div class="form-group mx-auto col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center">
              <label>Street Address</label>
              <input type="text" class="form-control" id="address" name="address" autocomplete="street-address" required>
            </div>
            <div class="form-group mx-auto col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
              <label>Apartment</label>
              <input type="text" class="form-control" id="apt" name="apt">
            </div>
            <div class="form-group mx-auto col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center">
              <label>City</label>
              <input type="text" class="form-control" id="city" name="city" autocomplete="address-level2" required>
            </div>
            <!-- <div class="form-group mx-auto col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
              <label for="state">State</label>
              <select class="form-control" id="state" name="state">
                <option value="VA" selected>Virginia</option>
              </select>
            </div> -->
            <div class="form-group mx-auto col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
              <label>Zip Code</label>
              <input type="text" class="form-control" id="zip" name="zip" minlength="5" maxlength="5" pattern="^(\d{5})$" digits autocomplete="postal-code" required>
            </div>

            <div class="form-group mx-auto col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
              <label>I am registered to vote in:</label>
              <select class="form-control" id="registered_county" name="registered_county">
                <option value="" selected>Choose your residence&hellip;</option>
                {% for id, name in ids_and_counties.items() %}
                <option value={{id}}> {{ name }} </option>
                {% endfor %}

              </select>
            </div>
          </div>
        </div>
        <hr style="border-top: dotted 1px;" />

        <!-- Where to Deliver? -->
        <div class="card-body border-dark rounded-0">
          <div class="form-group row mx-auto">
            <div class="mx-auto col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h3 class="text-center text-capitalize">Different Delivery Address</h3>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="where_deliver" name="where_deliver">
              <label class="form-check-label" for="where_deliver">
                I'd like for my absentee ballot to be delivered to a different address than the address where I'm registered to vote.
              </label>
            </div>
          </div>

          <div class="form-group row mx-auto" id="different_address">
            <div class="form-group mx-auto col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center">
              <label class=>Street Address</label>
              <input type="text" class="form-control" id="different_address" name="different_address" autocomplete="new-password">
            </div>
            <div class="form-group mx-auto col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
              <label>Apartment</label>
              <input type="text" class="form-control" id="different_apt" name="different_apt" autocomplete="new-password">
            </div>
            <div class="form-group mx-auto col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
              <label>City</label>
              <input type="text" class="form-control" id="different_city" name="different_city" autocomplete="new-password">
            </div>
            <div class="form-group mx-auto col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
              <label>State</label>
              <input type="text" class="form-control" id="different_state" name="different_state" autocomplete="new-password">
            </div>
            <div class="form-group mx-auto col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
              <label>Zip Code</label>
              <input type="text" class="form-control" id="different_zip" name="different_zip" autocomplete="new-password">
            </div>
          </div>
          <hr style="border-top: dotted 1px;" />
        </div>

        <!-- Assistance -->
        <div class="card-body border-dark rounded-0">
          <div class="form-group row mx-auto">
            <div class="mx-auto col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h3 class="text-center text-capitalize">Assistance to Vote</h3>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="assistance_check" name="assistance_check">
              <label class="form-check-label" for="assistance_check">
                I will need assistance in completing my ballot due to a disability, blindness, or inability to read or write. If checked, assistance form will be provided with ballot.
              </label>
            </div>
          </div>

          <div class="form-group row mx-auto" id="assistance_div">
            <div class="form-group mx-auto col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center">
              <label class=>Assistant Full Name</label>
              <input type="text" class="form-control" id="assistant_name" name="assistant_name" autocomplete="new-password">
            </div>
            <div class="form-group mx-auto col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center">
              <label class=>Assistant Street Address</label>
              <input type="text" class="form-control" id="assistant_address" name="assistant_address" autocomplete="new-password">
            </div>
            <div class="form-group mx-auto col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
              <label>Assistant Apartment</label>
              <input type="text" class="form-control" id="assistant_apt" name="assistant_apt" autocomplete="new-password">
            </div>
            <div class="form-group mx-auto col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
              <label>Assistant City</label>
              <input type="text" class="form-control" id="assistant_city" name="assistant_city" autocomplete="new-password">
            </div>
            <div class="form-group mx-auto col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
              <label>Assistant State</label>
              <input type="text" class="form-control" id="assistant_state" name="assistant_state" autocomplete="new-password">
            </div>
            <div class="form-group mx-auto col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
              <label>Assistant Zip Code</label>
              <input type="text" class="form-control" id="assistant_zip" name="assistant_zip" autocomplete="new-password minlength=" 5" maxlength="5" pattern="^(\d{5})$" digits">
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="assistance_signature_check" name="assistance_signature_check">
              <label class="form-check-label" for="assistance_signature_check">
                I swear/affirm, under felony penalty for making willfully false material statements, that the information I have provided on this form is true and I have written on the Applicant’s signature line “Applicant Unable to Sign.”
              </label>
            </div>
          </div>

          <hr style="border-top: dotted 1px;" />
        </div>


        <!-- More Info -->
        <div class="card-body border-dark rounded-0">
          <div class="form-group row mx-auto">
            <div class="mx-auto col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h3 class="text-center text-capitalize">More Info</h3>
            </div>
            <div class="form-group mx-auto col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center">
              <label class=>Email Address</label>
              <input type="text" class="form-control" id="email" name="email">
            </div>
            <div class="form-group mx-auto col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
              <label>Phone Number</label>
              <input type="text" class="form-control" id="phonenumber" name="phonenumber">
            </div>
          </div>
        </div>
        <hr style="border-top: dotted 1px;" />

        <!-- Applicant Signature -->
        <div class="card-body border-dark rounded-0">
          <div class="form-group row mx-auto">
            <div class="mx-auto col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h3 class="text-center text-capitalize">Applicant Signature</h3>
            </div>
            <div class="form-check">
              <input class="form-check-input form-control" type="checkbox" value="" id="sig_check" name="sig_check">
              <label class="form-check-label" for="sig_check">
                I swear/affirm, under felony penalty for making willfully false material statements, that by pressing the Submit button and submitting this information that (1) the information I have provided on this form is true, (2) I am not
                requesting a ballot or voting in any other jurisdiction in the U.S., except the jurisdiction to which this application relates, and (3) that I am the person named in this absentee application.
              </label>
            </div>
            <div class="form-group mx-auto col-lg-10 col-md-10 col-sm-12 col-xs-12 text-center">
              <label class=>Applicant Name</label>
              <input type="text" class="form-control" id="signature" name="signature">
            </div>
          </div>
        </div>


        <!-- <hr style="border-top: dotted 1px;" /> -->
        <div class="card border-dark rounded-bottom w-50 mx-auto" style="background: #0052A5">
          <input type="submit" value="Submit Application" class="btn-lg btn-default" />
        </div>

      </form>
    </div>
  </div>


  <!-- Footer -->
  <footer id="footer" style="background: black">
    <div class="mx-auto text-center">
      <small style="color:white;"> Paid for and Authorized by Vote Absentee Virginia </small>
    </div>
  </footer>


  <!-- Scripts -->
  <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/breakpoints.min.js')}}"> </script>
  <script src="{{ url_for('static', filename='js/util.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
