{% from "macros.html" import favicon %}
<!DOCTYPE html>

<html>

<head>
      <title>Error</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <meta name="description" content="" />
      <meta name="keywords" content="" />

      {{ favicon() }}

      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<body>
      <h1>We're Sorry</h1>
      <p> We were unable to email your application.Please resubmit the form later, and contact <a href="mailto:applications@eabsentee.org">applications@eabsentee.org<a>.
      </p>
</body>
</html>
