{% from "macros.html" import favicon %}
<!DOCTYPE HTML>
<html>

<head>
  <title>About</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />

  {{ favicon() }}

  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<body class="is-preload">

  <!-- Header -->
  <header id="header">
    <a class="logo" href="/">eAbsentee Voting</a>
    <nav>
      <a href="#menu">Menu</a>
    </nav>
  </header>

  <!-- Nav -->
  <nav id="menu">
    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="/form">Apply</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>

  <!-- Banner -->
  <!-- <section id="banner">
            <div class="inner">
                  <h1> HB1 </h1>
            </div>
      </section> -->

  <section id="faq" class="wrapper">
    <div class="inner">
      <div class="content">
        <header class="special">
          <h2>About HB1</h2>
        </header>

        <p>Let your legislator know you support HB1! Steps:</p>

        <ol>
          <li><a href="https://whosmy.virginiageneralassembly.gov/"> Find your legislator.</a>
            For “Address,” use the address where you are registered
            to vote. After legislator names are shown, find your state delegate.
          </li>
          <li>
           Click “Email” under their name, then return to this page.
          </li>
          <li>
            Use below information to write email to your legislator.</br>
            <i>Subject Button</i>: “Support HB 1: No-excuse absentee voting” </br>
            <i>Text Button</i>: </br>
            Dear Delegate ____, </br>
            I am ____, one of your constituents. I encourage you to support HB 1, a bill sponsored by Del. Charniele Herring to offer prepaid postage on absentee ballots.
            Voting absentee is easier than voting in-person for many people, and this bill would allow people to vote if they would have difficulty voting in-person on Election Day but do not qualify for an absentee ballot under VA State Code
            §24.2–700. Similar initiatives in other states have greatly increased participation in state, local, and national elections.
            Please support this bill and make it easier for Virginians to vote. </br>
            <i>BCC Button: (optional - please consider bcc’ing me on your email. I’d love to hear your message!) </i>.
            robert@eAbsentee.org

          </li>

          <ol>

      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer id="footer">
    <div class="copyright">
      <p style="color:white;"> Contact us at <a href="mailto:applications@eabsentee.org">applications@eabsentee.org</a> | Paid for and authorized by Vote Absentee Virginia </p>
    </div>
    </div>
  </footer>
  <!-- Scripts -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/util.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
