{% from "macros.html" import favicon %}
<!DOCTYPE HTML>
<html>

<head>
  <title>About</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />

  {{ favicon() }}

  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<body class="is-preload">

  <!-- Header -->
  <header id="header">
    <a class="logo" href="/">eAbsentee Voting</a>
    <nav>
      <a href="#menu">Menu</a>
    </nav>
  </header>

  <!-- Nav -->
  <nav id="menu">
    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="/form">Apply</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>

  <!-- Banner -->
  <!-- <section id="banner">
            <div class="inner">
                  <h1> HB1 </h1>
            </div>
      </section> -->

  <section id="faq" class="wrapper">
    <div class="inner">
      <div class="content">
        <header class="special">
          <h2>About HB238</h2>
        </header>

        <p>Let your legislator know you support HB238! Steps:</p>

        <ol>
          <li><a href="https://whosmy.virginiageneralassembly.gov/"> Find your legislator.</a>
            For “Address,” use the address where you are registered
            to vote. After legislator names are shown, find your state delegate.
          </li>
          <li>
           Click “Email” under their name, then return to this page.
          </li>
          <li>
            Use below information to write email to your legislator.</br>
            <i>Subject</i>: “Support HB 238: Extended deadline for absentee ballot return” </br>
            <i>Suggested Text</i>: </br>
            Dear Delegate ____, </br>
            I am ____, one of your constituents. I encourage you to support HB 238, a bill sponsored by Del. Mark Sickles to ensure absentee ballots postmarked by Election Day are included in vote tallies. </br>
Absentee-by-mail voting allows every Virginian to participate in the democratic process, even if they are unable to vote in-person on Election Day. However, mail ballots take time to arrive at the offices of local registrars. As a result, the votes of some Virginians are lost because they arrived at the registrar’s office after 5:00 PM on Election Day. </br>
In particularly close elections, a few absentee ballots can flip the final result. Please support HB 238, as it would ensure that the election result accurately reflects the will of all voters who wished to express their opinion. </br>

            <i>BCC Button: (optional - please consider bcc’ing me on your email. I’d love to hear your message!) </i>.
            robert@eAbsentee.org

          </li>

          <ol>

      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer id="footer">
    <div class="copyright">
      <p style="color:white;"> Contact us at <a href="mailto:applications@eabsentee.org">applications@eabsentee.org</a> | Paid for and authorized by Vote Absentee Virginia </p>
    </div>
    </div>
  </footer>
  <!-- Scripts -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/util.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
