{% from "macros.html" import favicon %}
<!DOCTYPE HTML>
<!--
Industrious by TEMPLATED
templated.co @templatedco
Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>eAbsentee</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	{{ favicon() }}

	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147192988-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-147192988-1');
	</script>

	<style>
		.embed-container {
			position: relative;
			padding-bottom: 56.25%;
			height: 0;
			overflow: hidden;
			max-width: 100%;
		}

		.embed-container iframe,
		.embed-container object,
		.embed-container embed {
			position: absolute;
			top: 0;
			left: 0;
			padding-left: 10%;
			padding-right: 10%;
			width: 100%;
			height: 100%;
		}
	</style>

	<!-- Facebook Pixel Code -->
	<script>
		! function(f, b, e, v, n, t, s) {
			if (f.fbq) return;
			n = f.fbq = function() {
				n.callMethod ?
					n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			};
			if (!f._fbq) f._fbq = n;
			n.push = n;
			n.loaded = !0;
			n.version = '2.0';
			n.queue = [];
			t = b.createElement(e);
			t.async = !0;
			t.src = v;
			s = b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t, s)
		}(window, document, 'script',
			'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '548028756026350');
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=548028756026350&ev=PageView&noscript=1" /></noscript>
	<!-- End Facebook Pixel Code -->

	<style type="text/css" media="screen">
		/* * {
		 margin: 0;
		 padding: 0;
	 } */

		div#banner {
			position: absolute;
			top: 0;
			left: 0;
			background-color: #DDEEEE;
			width: 100%;
		}

		div#banner-content {
			width: 800px;
			margin: 0 auto;
			padding: 10px;
			border: 1px solid #000;
		}

		div#main-content {
			padding-top: 70px;
		}
	</style>
</head>

<body class="is-preload">

	<div id="coronavirus_banner">
		<div id="coronavirus_banner_content" style="background-color:#ce1b28; text-align: center; color: black; font-size: 18px">
			Due to COVID-19, all voters are allowed to apply for an absentee ballot in the May and June Elections and cite Reason 2A: "I have a disability or illness."
		</div>
	</div>
	<!-- Header -->
	<header id="header">
		<a class="logo" href="/">eAbsentee</a>
		<nav>
			<a href="#menu">Menu</a>
		</nav>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="/">Home</a></li>
			<li><a href="/form">Apply for Ballot</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>

	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h1>Vote Absentee Virginia</h1>
			<h4> Deadline is 5pm Tuesday 6/2 to apply for an absentee ballot for the June Congressional Primary</h4>
			<p></p>
			<ul class="actions fit">
				<li><a href="#faq" class="button primary fit small">F.A.Q.</a></li>
				<li><a href="./form" class="button fit small">Apply for Absentee Ballot</a></li>
				<li><a href="#eligible" class="button primary fit small">Am I eligible?</a></li>
			</ul>
		</div>
		<!-- <video poster="static/thumbnail.png" autoplay playsinline src="static/vid.mp4"></video> -->
	</section>

	<!-- Main -->
	<!-- <section id="eligible" class="wrapper">
		<div class="inner">
			<div class="content">
				<header class="special">
					<h2>eAbsentee Advocacy</h2>
				</header>

				<p>Our organization aims to make it easier for Virginia voters to vote
					by absentee ballot. In the upcoming Virginia legislative session, many
					bills have been pre-filed to do that. Some need your support right
					now. The bills include:</p>

				<p>
					<b><a href="https://lis.virginia.gov/cgi-bin/legp604.exe?201+sum+HB1">HB 1: No-excuse absentee voting</a></b>
					- Del. Herring’s bill removes the requirements to vote absentee, allowing
					any voter to request an absentee ballot, and simplifying the absentee
					ballot request form. Click <a href="./hb1">here</a> to send an email to your legislator
					supporting it.
					</br>
				</p>

				<p>
					<b><a href="https://lis.virginia.gov/cgi-bin/legp604.exe?ses=201&typ=bil&val=HB220">HB 220: Prepaid postage for absentee ballots</a></b>
					- Del. Krizek’s bill eliminates a barrier-to-voting, particularly among
					syounger people that don’t keep stamps in their drawer. Click
					<a href="./hb220">here</a> to send an email to your legislator
					supporting it.
					</br>
				</p>

				<p>
					<b><a href="https://lis.virginia.gov/cgi-bin/legp604.exe?ses=201&typ=bil&val=HB207">HB 207: Apply once to receive an absentee ballot for each election (“permanent absentee”)</a></b>
					- Del. VanValkenburg’s bill allows a voter to choose to vote-at-home
					in each election, rather than sending in an application for each and
				 every election. Click <a href="./hb207">here</a> to send an email to your legislator
					supporting it.
					</br>
				</p>

				<p>
					<b><a href="http://lis.virginia.gov/cgi-bin/legp604.exe?201+sum+HB238">HB 238: Extended deadline for absentee ballot return</a></b>
					- Del. Sickles’ bill ensures that any valid absentee ballot postmarked
					 on or before Election Day and received by the registrar within three
					 days of the election will be counted, thus making sure more absentee
					 ballots will be counted Click <a href="./hb238">here</a> to send an
					 email to your legislator supporting it.
					</br>
				</p>

				<p>
					<b><a href="http://lis.virginia.gov/cgi-bin/legp604.exe?201+sum+HB201">HB 201: Same-day registration</a></b>
					 - Del. Ayala’s bill allows any eligible voter to register to vote on
					 the day that they desire to vote for in-person absentee (early) voting
					 or on election day. Click <a href="./hb201">here</a> to send an
					 email to your legislator supporting it.
					</br>
				</p>

			</div>
		</div>
	</section> -->

	<!-- Main
	<section id="faq" class="wrapper">
	<div class="inner">
	<div>
	<header class="special">
	<h2>How to Apply</h2>
</header>
<div style="margin: auto; width: 50%; border: 1px solid green; padding: 10px;">
<iframe style="float:middle" src="https://www.youtube-nocookie.com/embed/K9NDP05j3CM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
</div>
</div>
</section> -->

	<!-- Removed until primaries -->
	<!-- Videos - -->
	<section id="videos" class="wrapper">
		<div class="parent" style="display: flex">
			<center class="child" style="flex: 1;">
				<h2>How to use this site</h2>
				<div class='embed-container'><iframe src="https://www.youtube-nocookie.com/embed/K9NDP05j3CM" frameborder='0' allowfullscreen></iframe></div>

			</center>
			<center class="child" style="flex: 1;">
				<h2>Does my vote matter?</h2>
				<div class='embed-container'><iframe src="https://www.youtube-nocookie.com/embed/usJyXlkl3G4" frameborder='0' allowfullscreen></iframe></div>

			</center>
		</div>
	</section>

	<!-- Main -->
	<<section id="faq" class="wrapper">
		<div class="inner">
			<div class="content">
				<header class="special">
					<h2>Frequently Asked Questions</h2>
				</header>
				<p>
					<b>How does COVID-19 affect elections?</b>
					<br>
					The Virginia Department of Elections encourages voters to protect their health during this COVID-19 outbreak.
					Voting absentee in the May and June elections is strongly encouraged. All voters qualify for absentee voting
					with reason “2A: My disability or illness”. Voters who choose to vote absentee should do so as soon as
					possible in order to receive their ballots in time to return them by Election Day.
				</p>
				<hr />
				<p>
					<b>How does this site work?</b>
					<br>
					This easy-to-complete Absentee Ballot Application is authorized by the Virginia Board of Elections
					Your completed application will be sent electronically to your county/city registrar. A copy of
					your application can be sent as validation to the email address you provide.
				</p>
				<hr />
				<p>
					<b>The form needs to be signed. Is the electronic signature here adequate?</b>
					<br>
					Yes. According to a decision by the Virginia State Board of Elections made in 2015 at the
					request of Speaker Bill Howell, registrars can accept emailed applications with such signatures.
					For more details and news articles on the topic, click <a href="/about/">here</a>.
				</p>
				<hr />
				<p>
					<b>Can anyone receive an absentee ballot?</b>
					<br>
					By Virginia law, any registered voter can request a mail-in ballot. Because of Covid-19, Virginia has authorized anyone to qualify for an absentee ballot by using reason code 2A (disability of illness),
					so every voter can vote from the safely of their residence.
				</p>
				<hr />
				<p>
					<b>How long will it take to receive an absentee ballot?</b>
					<br>
					Mail-in ballots are sent as early as 45 days before the election day. Thereafter, they are usually sent 7 days after the registrar approves the application.
				</p>
				<hr />
				<p>
					<b>What if I don’t receive my absentee ballot?</b>
					<br>
					You can check the status of your absentee by visiting <a href="elections.virginia.gov"> the state elections website</a>.
				</p>
				<hr />
				<p>
					<b>Can I submit this application on behalf of someone else?</b>
					<br>
					No. It is acceptable for the voter to receive help from someone, but the voter must give final approval for submission.
				</p>
				<hr />
				<p>
					<b> What if I get an absentee ballot, then later decide to vote in person? </b>
					<br>
					The registrar keeps good records of these things. If you show up at the polls after having received an absentee ballot, you can either bring your ballot and surrender it at your poll on Election Day, or you may be asked to cast a provisional ballot. After it is determined that you voted only one time in the election, your vote will be automatically counted.
				</p>
				<hr />
				<p>
					<b>Is there a risk of voter fraud here?</b>
					<br>
					We only submit applications for absentee ballots. We do not cast the ballots themselves. eAbsentee also only asks for the last 4 digits of your social security number (unlike the Virginia elections website).  Falsely requesting an absentee ballot is a felony. eAbsentee is more secure as it is electronically tracable unlike paper applications.
				</p>
				<hr />
				<p>
					<b>Who sponsors this website?</b>
					<br>
					It is run by Vote Absentee Virginia, a not-for-profit 501(c)4 organization. It was formed to help broaden
					voter access across all parties in Virginia. Click <a href="/about">here</a> for more information.
				</p>
				<hr />
				<p>
					<b>How do you make money here?</b>
					<br>
					We don’t. We created this site as a public service to Virginians.
				</p>
				<hr />
				<p>
					<b>Does the state of Virginia have its own website to request absentee ballots?</b>
					<br id="faq_ssn">
					It does, but it request much more information like driver’s license number and full social security	number. That can be daunting, particularly for people who don’t have driver’s licenses.
				</p>
				<hr />
				<section>
					<p>
						<b> Where does my data go? </b>
					<p> It goes to two places: your local County/City registrar and this website’s sponsor, Vote Absentee Virginia. We maintain your application only until the end of the day, to verify its receipt by your registrar. Then we destroy it. </p>
					<p> If you learned of this site from a link sent by another organization, then that organization receives your name and contact information (but not your last 4 SSN digits or reason for absentee voting). </p>
					<p> Which organization? You can determine which organization by viewing the extension on the url you linked from. Sometimes it is obvious. If not, simply email <a style="color:black" href="mailto:raunak@eAbsentee.org"> raunak@eAbsentee.org </a> and we’ll be happy to let you know. </p>
					<p> Why is partial information provided to linking organizations? Campaigns and get-out-the-vote groups work hard to reach out potential voters. They want to know which channels are making an impact, plus they want to encourage you afterwards to return your absentee ballot. Your data will never be sold by Vote Absentee Virginia. (See <a href="/about">"About Us”</a> for detail on how the site is supported).	</p>
					</p>
				</section>
				<hr />
				<p>
					<b>On the website application form, I don't see my county/city on the dropdown list? Where is it?</b>
					<br>
					Some campaign-specific links to the eAbsentee website limit the choices for county/city. You may have clicked on such a link. To see all county/cities, clear the cookies from your browser (usually in the same place you clear history).
				</p>
				<hr />
				<p>
					<b>Where can I find your privacy policy?</b>
					<br>
				  Our privacy policy can be found <a href="/privacy"> here</a>.
				</p>
				<hr />
			</div>
		</div>
		</section>

		<!-- Main -->
		<!-- <section id="eligible" class="wrapper">
			<div class="inner">
				<div class="content">
					<header class="special">
						<h2>Am I eligible?</h2>
					</header>
					<p>
						Yes. Choose 'I have a disability or illness' on the application.
						The Virginia Department of Elections permits all voters to use this reason due to COVID-19.
					</p>
					<p><b>Can I get an absentee ballot...</b></p>
						<p>
							<b><i>... because I work on Election Day and my job is outside my home city or county?</i></b>
							<br>
							Yes. Choose the "Business outside County/City" reason.
						</p>
						<hr />
						<p>
							<b><i>... because I’m eating lunch on Election Day in a different city or county?</i></b>
							<br>
							Yes. Choose the "Personal business or vacation" reason.
						</p>
						<hr />
						<p>
							<b><i>... because I’m on vacation outside my city or county?</i></b>
							<br>
							Yes. Choose the "Personal business or vacation" reason.
						</p>
						<hr />
						<p>
							<b><i>... because I have trouble walking and it’s hard to stand in line a long time at the polling place?</i></b>
							<br>
							Yes. Choose "My disability or illness" reason.
						</p>
						<hr />
						<p>
							<b><i>... because I work long hours near my home and it’s difficult to get the polls?</i></b>
							<br>
							If you work in the same county you live in, and will work & commute more than 11 hours between 6AM and 7PM, then yes.
							Choose the "I am working and commuting to/from home" reason.
						</p>
						<hr />
						<p>
							<b><i>... I attend college in a different city or county?</i></b>
							<br>
							Yes. Choose the "Student attending college" reason.
						</p>
						<hr />
						<p>
							<b><i>... I’m pregnant?</i></b>
							<br>
							Yes. Choose "My pregnancy" reason.
						</p>
						<hr />
						<p>
							<b><i>... I need to take care of my sick elderly mother at home?</i></b>
							<br>
							Yes. Choose the "I am primarily and personally responsible for the care of a disabled/ill family member" reason.
						</p>
						<hr />
				</div>
			</div>
		</section> -->

		<!-- Testimonials
					<section class="wrapper">
					<div class="inner">
					<header class="special">
					<h2>Testimonials</h2>
					<p>eAbsentee is a safe, secure, and efficient system. The platform is endorsed by (INSERT endorsements).</p>
				</header>
				<div class="testimonials">
				<section>
				<div class="content">
				<blockquote>
				<p>Insert testimonial.</p>
				</blockquote>
				<div class="author">
				<div class="image">
				<img src="images/pic01.jpg" alt="" />
				</div>
				<p class="credit">- <strong>Mr. Scott Surovell</strong> <span>Mount Vernon District State Senator</span></p>
				</div>
				</div>
				</section>
				<section>
				<div class="content">
				<blockquote>
				<p>Insert testimonial.</p>
				</blockquote>
				<div class="author">
				<div class="image">
				<img src="images/pic03.jpg" alt="" />
				</div>
				<p class="credit">- <strong>John Doe</strong> <span>CEO - ABC Inc.</span></p>
				</div>
				</div>
				</section>
				<section>
				<div class="content">
				<blockquote>
				<p>Insert testimonial.</p>
				</blockquote>
				<div class="author">
				<div class="image">
				<img src="images/pic02.jpg" alt="" />
				</div>
				<p class="credit">- <strong>Janet Smith</strong> <span>CEO - ABC Inc.</span></p>
				</div>
				</div>
				</section>
				</div>
				</div>
				</section> -->

		<!-- Footer -->
		<footer id="footer">
			<div class=" copyright">
				<p style="color:white;">Contact us at <a href="mailto:applications@eabsentee.org">applications@eabsentee.org</a> | Paid for and authorized by Vote Absentee Virginia </p>
			</div>

		</footer>


		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
