<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>eAbsentee Ballot Voting System</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147192988-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-147192988-1');
	</script>

</head>

<body class="is-preload">

	<!-- Header -->
	<header id="header">
		<a class="logo" href="/">eAbsentee Voting</a>
		<nav>
			<a href="#menu">Menu</a>
		</nav>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="/">Home</a></li>
			<li><a href="/form">Register</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>

	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h1>Apply for Virginia Absentee Ballot</h1>
			<p></p>
			<ul class="actions fit">
				<li><a href="./form" class="button primary fit small">Apply for Absentee Ballot</a></li>
				<li><a href="#faq" class="button fit small">F.A.Q.</a></li>
			</ul>
		</div>
		<!-- <video poster="static/thumbnail.png" autoplay playsinline src="static/vid.mp4"></video> -->
	</section>

	<!-- Main
	<section id="faq" class="wrapper">
		<div class="inner">
			<div>
				<header class="special">
					<h2>How to Apply</h2>
				</header>
				<div style="margin: auto; width: 50%; border: 1px solid green; padding: 10px;">
					<iframe style="float:middle" src="https://www.youtube-nocookie.com/embed/K9NDP05j3CM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
				</div>
			</div>
	</section> -->

	<!-- Videos -->
	<section id="videos" class="wrapper">
		<div class="parent" style="display: flex">
			<center class="child" style="flex: 1;">
				<h2>How to use this site</h2>
				<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/WzhxQXRC15Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</center>
			<center class="child" style="flex: 1;">
				<h2>Does my vote really matter?</h2>
				<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/usJyXlkl3G4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</center>
		</div>
	</section>

	<!-- Main -->
	<section id="faq" class="wrapper">
		<div class="inner">
			<div class="content">
				<header class="special">
					<h2>Frequently Asked Questions</h2>
				</header>
				<p>
					<b>How does this site work?</b>
					<br>
					It places the information you enter onto an official Virginia form, creates a PDF and emails an
					electronically signed copy to your county/city registrar. You can receive a copy of the PDF if you
					provide your email address.
				</p>
				<hr />
				<p>
					<b>The form needs to be signed. Is the electronic signature here adequate?</b>
					<br>
					Yes. According to a decision by the Virginia State Board of Elections made in 2015 at the
					request of Speaker Bill Howell, registrars can accept emailed applications with such signatures.
				</p>
				<hr />
				<p>
					<b>Can anyone receive an absentee ballot?</b>
					<br>
					By Virginia law, a voter needs to provide one of about two dozen reasons, such as being
					physically present outside of the County/City where you are registered on Election Day, to
					qualify for an absentee ballot.
				</p>
				<hr />
				<p>
					<b>How long will it take to receive an absentee ballot?</b>
					<br>
					Typically within 10 business days after ballots are finalized starting in late September.
				</p>
				<hr />
				<p>
					<b>What if I don’t receive my absentee ballot?</b>
					<br>
					Call your local General Registrar, the Virginia Department of Elections toll free number or check
					the Department of Elections website: <a href="https://www.elections.virginia.gov/">elections.virginia.gov</a>.
				</p>
				<hr />
				<p>
					<b>Can I submit this application on behalf someone else?</b>
					<br>
					No. It’s acceptable to help someone fill it out data fields, but the voter must give final approval
					for submission.
				</p>
				<hr />
				<p>
					<b>Are absentee ballots counted?</b>
					<br>
					All votes are counted after 7:00 p.m. on Election Day whether they are cast in-person or
					absentee.
				</p>
				<hr />
				<p>
					<b>What if I get an absentee ballot, then later decide to vote in person? Or what if I forget I
						submitted an absentee and show up at the polling place?</b>
					<br>
					The registrar keeps good records of these things. If you show up at the polls after having
					received an absentee ballot, you can either bring your ballot and surrender it at your poll on
					Election Day or you may be asked to cast a provisional ballot. Your vote will not be counted
					twice.
				</p>
				<hr />
				<p>
					<b>Is there a risk of voter fraud here?</b>
					<br>
					This website only submits applications for absentee ballots. It does not cast ballots themselves.
					If a voter receives an absentee ballot without wanting it, he/she can surrender it at a polling
					place or cast a provisional ballot. Plus, falsely requesting an absentee ballot is a felony, just like
					with a traditional paper application, except here it is traceable on-line unlike mailed in absentee
					ballot applications.
				</p>
				<hr />
				<p>
					<b>Who sponsors this website?</b>
					<br>
					It is run by a not-for-profit non-stock Virginia company called Vote Absentee Virginia. It was
					formed to help broaden voter access across all parties in Virginia.
				</p>
				<hr />
				<p>
					<b>How do you make money here?</b>
					<br>
					We don’t. We created this site as a public service to Virginians.
				</p>
				<hr />
				<p>
					<b>Does the state of Virginia have its own website to request absentee ballots?</b>
					<br>
					It does, but it requires more information like driver’s license number and full social security
					number. That can be daunting, particularly for people who don’t have driver’s licenses.
				</p>
				<hr />
				<p>
					<b>What if I have trouble with this site? Whom do I contact?</b>
					<br>
					Email <a href="mailto:contact@eAbsentee.org">contact@eAbsentee.org</a> and we will be back in touch shortly.
				</p>
				<hr />
			</div>
		</div>
	</section>

	<!-- Testimonials
	<section class="wrapper">
		<div class="inner">
			<header class="special">
				<h2>Testimonials</h2>
				<p>eAbsentee is a safe, secure, and efficient system. The platform is endorsed by (INSERT endorsements).</p>
			</header>
			<div class="testimonials">
				<section>
					<div class="content">
						<blockquote>
							<p>Insert testimonial.</p>
						</blockquote>
						<div class="author">
							<div class="image">
								<img src="images/pic01.jpg" alt="" />
							</div>
							<p class="credit">- <strong>Mr. Scott Surovell</strong> <span>Mount Vernon District State Senator</span></p>
						</div>
					</div>
				</section>
				<section>
					<div class="content">
						<blockquote>
							<p>Insert testimonial.</p>
						</blockquote>
						<div class="author">
							<div class="image">
								<img src="images/pic03.jpg" alt="" />
							</div>
							<p class="credit">- <strong>John Doe</strong> <span>CEO - ABC Inc.</span></p>
						</div>
					</div>
				</section>
				<section>
					<div class="content">
						<blockquote>
							<p>Insert testimonial.</p>
						</blockquote>
						<div class="author">
							<div class="image">
								<img src="images/pic02.jpg" alt="" />
							</div>
							<p class="credit">- <strong>Janet Smith</strong> <span>CEO - ABC Inc.</span></p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section> -->

	<!-- Footer -->
	<footer id="footer">
		<div class="copyright">
			Contact us at <a href="mailto:contact@eabsentee.org">contact@eabsentee.org</a> | Paid for and authorized by Vote Absentee Virginia
		</div>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/util.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>