<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!-->
<html>
<!--<![endif]-->

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>List of Counties</title>
</head>

<body>
      <h1> List of Counties </h1>

      <p>001 - Accomack County</p>
      <p>003 - Albemarle County</p>
      <p>510 - Alexandria City</p>
      <p>005 - Alleghany County</p>
      <p>007 - Amelia County</p>
      <p>009 - Amherst County</p>
      <p>011 - Appomattox County</p>
      <p>013 - Arlington County</p>
      <p>015 - Augusta County</p>
      <p>017 - Bath County</p>
      <p>019 - Bedford County</p>
      <p>021 - Bland County</p>
      <p>023 - Botetourt County</p>
      <p>520 - Bristol City</p>
      <p>025 - Brunswick County</p>
      <p>027 - Buchanan County</p>
      <p>029 - Buckingham County</p>
      <p>530 - Buena Vista City</p>
      <p>031 - Campbell County</p>
      <p>033 - Caroline County</p>
      <p>035 - Carroll County</p>
      <p>036 - Charles City County</p>
      <p>037 - Charlotte County</p>
      <p>540 - Charlottesville City</p>
      <p>550 - Chesapeake City</p>
      <p>041 - Chesterfield County</p>
      <p>053 - Clarke County</p>
      <p>570 - Colonial Heights City</p>
      <p>580 - Covington City</p>
      <p>045 - Craig County</p>
      <p>047 - Culpeper County</p>
      <p>049 - Cumberland County</p>
      <p>590 - Danville City</p>
      <p>051 - Dickenson County</p>
      <p>990 - Dinwiddie County</p>
      <p>595 - Emporia City</p>
      <p>057 - Essex County</p>
      <p>600 - Fairfax City</p>
      <p>059 - Fairfax County</p>
      <p>610 - Falls Church City</p>
      <p>061 - Fauquier County</p>
      <p>063 - Floyd County</p>
      <p>065 - Fluvanna County</p>
      <p>620 - Franklin City</p>
      <p>067 - Franklin County</p>
      <p>069 - Frederick County</p>
      <p>630 - Fredericksburg City</p>
      <p>640 - Galax City</p>
      <p>071 - Giles County</p>
      <p>073 - Gloucester County</p>
      <p>075 - Goochland County</p>
      <p>077 - Grayson County</p>
      <p>079 - Greene County</p>
      <p>081 - Greensville County</p>
      <p>083 - Halifax County</p>
      <p>650 - Hampton City</p>
      <p>085 - Hanover County</p>
      <p>660 - Harrisonburg City</p>
      <p>087 - Henrico County</p>
      <p>089 - Henry County</p>
      <p>091 - Highland County</p>
      <p>670 - Hopewell City</p>
      <p>093 - Isle Of Wight County</p>
      <p>095 - James City County</p>
      <p>097 - King &amp; Queen County</p>
      <p>099 - King George County</p>
      <p>101 - King William County</p>
      <p>103 - Lancaster County</p>
      <p>105 - Lee County</p>
      <p>678 - Lexington City</p>
      <p>107 - Loudoun County</p>
      <p>109 - Louisa County</p>
      <p>111 - Lunenburg County</p>
      <p>680 - Lynchburg City</p>
      <p>113 - Madison County</p>
      <p>683 - Manassas City</p>
      <p>685 - Manassas Park City</p>
      <p>690 - Martinsville City</p>
      <p>115 - Mathews County</p>
      <p>117 - Mecklenburg County</p>
      <p>119 - Middlesex County</p>
      <p>121 - Montgomery County</p>
      <p>125 - Nelson County</p>
      <p>127 - New Kent County</p>
      <p>700 - Newport News City</p>
      <p>710 - Norfolk City</p>
      <p>131 - Northampton County</p>
      <p>133 - Northumberland County</p>
      <p>720 - Norton City</p>
      <p>135 - Nottoway County</p>
      <p>137 - Orange County</p>
      <p>139 - Page County</p>
      <p>141 - Patrick County</p>
      <p>730 - Petersburg City</p>
      <p>143 - Pittsylvania County</p>
      <p>735 - Poquoson City</p>
      <p>740 - Portsmouth City</p>
      <p>145 - Powhatan County</p>
      <p>147 - Prince Edward County</p>
      <p>149 - Prince George County</p>
      <p>153 - Prince William County</p>
      <p>155 - Pulaski County</p>
      <p>750 - Radford City</p>
      <p>157 - Rappahannock County</p>
      <p>760 - Richmond City</p>
      <p>159 - Richmond County</p>
      <p>770 - Roanoke City</p>
      <p>161 - Roanoke County</p>
      <p>163 - Rockbridge County</p>
      <p>165 - Rockingham County</p>
      <p>167 - Russell County</p>
      <p>775 - Salem City</p>
      <p>169 - Scott County</p>
      <p>171 - Shenandoah County</p>
      <p>173 - Smyth County</p>
      <p>175 - Southampton County</p>
      <p>177 - Spotsylvania County</p>
      <p>179 - Stafford County</p>
      <p>790 - Staunton City</p>
      <p>800 - Suffolk City</p>
      <p>181 - Surry County</p>
      <p>183 - Sussex County</p>
      <p>185 - Tazewell County</p>
      <p>810 - Virginia Beach City</p>
      <p>187 - Warren County</p>
      <p>191 - Washington County</p>
      <p>820 - Waynesboro City</p>
      <p>193 - Westmoreland County</p>
      <p>830 - Williamsburg City</p>
      <p>840 - Winchester City</p>
      <p>195 - Wise County</p>
      <p>197 - Wythe County</p>
      <p>199 - York County</p>
</body>

</html>